.hidden-overflow {
  overflow: hidden;
}

.sidemenu {
  position:fixed;
  top:50px;
  left:0;
  width: 50%;
  -webkit-transform:translateX(-100%);
  -moz-transform:translateX(-100%);
  transform:translateX(-100%);
}

.sidemenu-item a {
  color: #f4f4f4;
  font-size: 2.5rem;
  text-decoration: none;
}

.sidemenu-item {
  border-bottom: 1px solid #EAEAE7;
  padding:.5rem;
}

body {
  color: #333;
  background: #333;
}

input[type=text],
input[type=number],
textarea {
  padding: .4rem;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 2rem;
}

.input--large {
  width: 100%;
  font-size: 2rem;
}

small {
  float:right;
  color: #aaa;
  font-size: .9rem;
}

form {
  width: 70%;
  margin: 0 auto;
  text-align:center;
}

header h1 {
  display: inline-block !important;
}

header ul {
  display: inline-block;
  height: 100%;
}

.expense-total {
  font-size: 2.5rem;
  float: right;
  vertical-align: middle;
  height: 4.5rem;
  line-height: 4.5rem;
}

.expenses-list {
  width: 99%;
  margin: 0 auto;
}

.button--full-wide,
.button--half-wide {
  width: 100%;
  display:inline-block;
  margin:2% 0;
  padding:0;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.button--half-wide {
  width: 49%;
}

.smooth-transition {
  -webkit-transition-duration:.3s;
  -moz-transition-duration:.3s;
  transition-duration:.3s;
}

.slide-right--reset {
  -webkit-transform:translateX(0);
  -moz-transform:translateX(0);
  transform:translateX(0);
}

.slide-right--half {
  -webkit-transform:translateX(50%);
  -moz-transform:translateX(50%);
  transform:translateX(50%);
}

.positive-expense {
  border-left:10px solid #E1F5C4;
}

.negative-expense {
  border-left: 10px solid #FC913A;
}

.expense-button--submit {
  margin: 1% 0;
}

.container {
  width: 100%;
  margin: -18px auto;
  background: #f4f4f4;
  min-height: 100%;
  text-align: center;
}

.expense-item {
  padding: .5rem;
  list-style: none;
  font-size: 2.5rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.expense-item--controls,
.expense-item input {
  display: none;
}

  .expense-item.editing .expense-item--controls {
    display: block;
  }

  .expense-item.editing input {
    display: inline-block;
  }

  .expense-item.editing strong {
    display:none;
  }

.expense-item-comment {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  height: 2rem;
  white-space: nowrap;
  font-size: 1.5rem;
  max-width: 10rem;
  color: #aaa;
}

  .expense-item.editing .expense-item-comment {
    display: block;
    width: 100%;
    text-align: center;
  }

.hidden {
  display:none;
}

.full-width {
  display: block;
  width: 100%;
}

.placeholder {
  text-align: center;
}

.spinner {
  height: 18px;
/* width needs to be double the height */
  width: 36px;
  margin: 0 auto;
  border: 3px solid #1E8CE2;
  border-bottom: 0;
  border-radius: 40px 40px 0 0;

  -webkit-transform-origin: bottom center;
  -webkit-animation: spinner .4s infinite linear;
  -moz-transform-origin: bottom center;
  -moz-animation: spinner .4s infinite linear;
  transform-origin: bottom center;
  animation: spinner .4s infinite linear;

}

@-webkit-keyframes spinner {
  0% {-webkit-transform: rotate(0deg);}
  50% {-webkit-transform: rotate(180deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinner {
  0% {-moz-transform: rotate(0deg);}
  50% {-moz-transform: rotate(180deg);}
  100% {-moz-transform: rotate(360deg);}
}
/*
@keyframes spinner {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}*/
